body{
    background-color: papayawhip;
    color: #7A2E4A;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: relative;
    height: 80%;
    width: 45%;
    top: 10%;
    left: 27%;
    background-color: #F5EAD6;
    border: solid 4px #FFFBF2;
    border-radius: 20px;
    position: fixed;
    z-index: 1000;
}

.modal-content{
    padding: 40px;
}

.close {
    position: absolute;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color:  black;
    text-decoration: none;
    cursor: pointer;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    background-color: palevioletred;
    gap: 1px;
    padding: 1px;
}

.grid-container > div{
    /* border: 1px solid palevioletred; */
    background-color: papayawhip;
}

.child-cell{
    height:100%;
    border:none;
    font-family: 'Courier New', Courier, monospace;
}

.child-cell:hover{
    border: 1px solid palevioletred;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.02);
    animation-duration: 0.5s;
    background-color: #FFF5E1;

}

p {
    max-width: 68ch;
}

.code-example{
    font-family: 'Courier New', Courier, monospace;
}