/* Settings */

:root {

    /* primitives */
    --color-violet-300: palevioletred;
    --color-violet-500: #7A2E4A;

    /* semantic */
    --color-background: papayawhip;
    --color-text-primary: var(--color-violet-500);
    --color-text-secondary: var(--color-violet-300);

    --color-modal-background: #F5EAD6;
    --color-modal-border: #FFFBF2;

    --color-grid-lines: var(--color-violet-300);
    --color-grid-cell-hover: #FFF5E1;
}

/* Elements */

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    max-width: 68ch;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

/* Objects */

.header-container{
    margin: 0 1rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 12.5rem;

    /* creates grid lines */
    gap: 1px;
    padding: 1px;
    
    margin: 1rem;
}


/* Components */

.grid-skin{
    background-color: var(--color-grid-lines);
}


.modal {
    height: 100%;
    width: 100%;
    background-color: var(--color-modal-background);
    border: solid 4px var(--color-modal-border);
    border-radius: 1.25rem;
    z-index: 1000;
    pointer-events: all;
}

.modal__content{
    padding: 2.5rem;
    overflow-y: scroll;
    color: var(--color-text-primary);
    justify-content: center;
}

.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    color: #aaa;
    font-size: 1.75rem;
    font-weight: bold;
    height: 2rem;
}

.modal__close:hover, 
.modal__close:focus {
    color:  black;
    text-decoration: none;
    cursor: pointer;
}

.grid__cell{
    height:100%;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem 0 0 0.5rem;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-size: 1rem;
}

.grid__cell:hover, 
.grid__cell:focus-visible{
    border: 1px solid var(--color-text-secondary);
    border-radius: 1.25rem;
    cursor: pointer;
    transform: scale(1.05) translateY(-4px);
    animation-duration: 0.5s;
    background-color: var(--color-grid-cell-hover);
}

/* Utilities */

@media (min-width: 500px){

    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px){

    .modal {
        height: 80%;
        width: 80%;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px){

    .modal {
        height: 80%;
        width: 45%;
    }
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}