<h1>Anchor</h1>
<h2>&lt;a&gt;</h2>
<p>The anchor tag defines a hyperlink. Its <code class="code-example">href</code> attribute indicates the link's destination.
The <code class="code-example">target</code> attribute specifies where to open the linked document.</p>
<ul>
    <li><code class="code-example">_self</code> is the default and opens in the same frame</li>
    <li><code class="code-example">_blank</code> opens the link in a new tab</li>
    <li><code class="code-example">_parent</code> opens the link in the parent frame</li>
    <li><code class="code-example">_top</code> opens the link in the full body of the window</li>
</ul>
<p>Here is a <a href="https://www.youtube.com/watch?v=kSSn2a9V0Io" target="_blank"
    >nice video</a> that demonstrates how the different <code class="code-example">target</code> values behave.</p>