<h1>Blockquote</h1>
<h2>&lt;blockquote&gt;</h2>
<p>Blockquotes identifies a section as quoted from another source. It sets apart long, direct quotes
    from the main text by indentation to visually distinguish text from another source. For short quotes, use &lt;q&gt;.</p>
<p>Here's an example of a blockquote in action:</p>

<p>Linus Torvalds, Just for Fun: The Story of an Accidental Revolutionary</p>
<blockquote cite="https://www.barnesandnoble.com/w/just-for-fun-linus-torvalds/1111502518">
    A lot of people believe in working long days and doing double, triple, or even quadruple shifts. 
    I'm not one of them. Neither Transmeta nor Linux has ever gotten in the way of a good night's sleep. 
    In fact, if you want to know the honest truth, I'm a firm believer in sleep. Some people think that's 
    just being lazy, but I want to throw my pillow at them. I have a perfectly good excuse, and I'm standing 
    by it: You may lose a few hours of your produc­tive daytime if you sleep, oh, say, ten hours a day, but 
    those few hours when you are awake you're alert, and your brain functions on all six cylinders. Or four, 
    or whatever.
</blockquote>