<h1>Button</h1>
<h2>&lt;button&gt;</h2>
<p>The button tag creates a clickable button on a document.</p>

<p>Always specify the type attribute for a button element. Buttons can be of type button, reset, and submit. 
    Buttons with type "button" creates a clickable button that does not have any default behavior. Submit button submits a form 
    and reset button resets all form fields.
</p>

<p>A clickable button looks something like this: </p>
<code class="code-example">
    &lt;button type="button"&gt;Click Me!&lt;/button&gt;
</code>

<p>or</p>
<code class="code-example">
    &lt;button type="submit"&gt;Submit&lt;/button&gt;
</code>
<p>or</p>
<code class="code-example">
    &lt;button type="reset"&gt;Clear&lt;/button&gt;
</code>

<p>Other common attributes include:</p>
<ul>
    <li>autofocus, boolean that specifies if an element should recieve focus when the page loads</li>
    <li>disabled, specifies that a button should be disabled </li>
    <li>form, specifies which form the button belongs to</li>
    <li>value, text that establishes the initial value for a button</li>
</ul>