<h1>Details</h1>
<h2>&lt;details&gt;</h2>
<p>The details tag creates a widget that is only visible when it is toggled. A summary or label tag must also be included to label 
    the widget, and the contents of the detail are visible when opened.</p>

<code class="code-example">
    &lt;details&gt; <br>
        &lt;summary&gt;FAQ #13&lt;/summary&gt; <br>
        Answer hidden <br>
    &lt;/details&gt;
</code>

<p>In action:</p>
<details>
    <summary>FAQ #13</summary>
    Answer hidden
</details>
